*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.hero{
    height: 100vh;
    width: 100%;
    background-image: url('images/ab.jpg');
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    color: white;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: red;
    transition: .4s;

}


.image-grid{
    width: 80%;
    margin-left: 100px;
    --gap:16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols),4fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.image-grid > img{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    object-fit: cover;
}
#gallery{
    margin-top: -50px;
    margin-left: 80px;
}



.footer{
    margin-top: 40px 0;
    margin-top: 100px;
    padding: 40px 0;
    background-color: #e7f0de;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;

}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
span{
    color: red;
}